<nav class="navbar" [class]="isOpen ? 'open' : ''">
  <ul class="navbar-nav">
    <li class="logo">
      <div class="nav-link">
        <span class="link-text logo-text">Weather</span>
        <svg
          (click)="isOpen = !isOpen"
          aria-hidden="true"
          focusable="false"
          data-prefix="fad"
          data-icon="angle-double-right"
          role="img"
          xmlns="http://www.w3.org/2000/svg"
          viewBox="0 0 448 512"
          class="svg-inline--fa fa-angle-double-right fa-w-14 fa-5x"
        >
          <g class="fa-group">
            <path
              fill="currentColor"
              d="M224 273L88.37 409a23.78 23.78 0 0 1-33.8 0L32 386.36a23.94 23.94 0 0 1 0-33.89l96.13-96.37L32 159.73a23.94 23.94 0 0 1 0-33.89l22.44-22.79a23.78 23.78 0 0 1 33.8 0L223.88 239a23.94 23.94 0 0 1 .1 34z"
              class="fa-secondary"
            ></path>
            <path
              fill="currentColor"
              d="M415.89 273L280.34 409a23.77 23.77 0 0 1-33.79 0L224 386.26a23.94 23.94 0 0 1 0-33.89L320.11 256l-96-96.47a23.94 23.94 0 0 1 0-33.89l22.52-22.59a23.77 23.77 0 0 1 33.79 0L416 239a24 24 0 0 1-.11 34z"
              class="fa-primary"
            ></path>
          </g>
        </svg>
      </div>
    </li>
    <li
      (click)="close()"
      class="nav-item"
      routerLinkActive="router-link-active"
    >
      <a
        [routerLink]="['/dashboard']"
        href="/dashboard"
        class="nav-link"
        aria-label="Dashboard route"
      >
        <svg
          class="dashboard-icon"
          width="32"
          height="32"
          viewBox="0 0 37 37"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <rect width="16" height="12" fill="#333866" />
          <path d="M0 17H16V37H0V17Z" fill="#333866" />
          <rect x="21" width="16" height="20" fill="#333866" />
          <rect x="21" y="25" width="16" height="12" fill="#333866" />
        </svg>
        <span class="link-text">Dashboard</span>
      </a>
    </li>

    <li
      (click)="close()"
      class="nav-item"
      routerLinkActive="router-link-active"
    >
      
      <a
        [routerLink]="['/settings']"
        href="/settings"
        class="nav-link"
        aria-label="Settings route"
      >
        <svg
          class="settings-icon"
          width="32"
          height="32"
          viewBox="0 0 32 32"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
        >
          <path
            fill-rule="evenodd"
            clip-rule="evenodd"
            d="M11 7L13 6V2H19V6L21 7L24 4L28 8L25 11L26 13H30V19H26L25 21L28 24L24 28L21 25L19 26V30H13V26L11 25L8 28L4 24L7 21L6 19H2V13H6L7 11L4 8L8 4L11 7ZM20 16C20 18.2091 18.2091 20 16 20C13.7909 20 12 18.2091 12 16C12 13.7909 13.7909 12 16 12C18.2091 12 20 13.7909 20 16Z"
            fill="#333866"
          />
        </svg>

        <span class="link-text">About</span>
      </a>
    </li>
  </ul>
</nav>
